h1 {
  text-align: center;
  margin-top: 300px;
}

form {
  text-align: center;
}

#searchInput {
  width: 450px;
  border-radius: 25px;
  height: 20px;
  padding-left: 25px;
}

#searchInput:focus {
  outline: none;
}

#searchInput:hover {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.404);
}

#submitBtn {
  margin-right: 20px;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

#luckyBtn {
  border: none;
  padding: 10px;
  border-radius: 5px;
}

#submitBtn:disabled,
#luckyBtn:disabled {
  background: rgb(240, 240, 240);
  color: inherit;
  border: none;
  padding: 10px;
}

#submitBtn:hover,
#luckyBtn:hover {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.404);
}

i {
  position: absolute;
  padding-top: 5px;
  padding-left: 5px;
}
