h1 {
  text-align: center;
  margin-top: 300px;
}

form {
  text-align: center;
}

#searchInput {
  width: 450px;
  border-radius: 25px;
  height: 20px;
  padding-left: 25px;
}

#searchInput:focus {
  outline: none;
}

#submitBtn {
  margin-right: 20px;
}

#submitBtn:disabled,
#luckyBtn:disabled {
  background: rgb(240, 240, 240);
  color: inherit;
  border: 1px solid rgb(49, 49, 49);
}

i {
  position: absolute;
  padding-top: 5px;
  padding-left: 5px;
}
