form {
  display: inline;
  margin-left: 10px;
}

h1 {
  display: inline;
}

#searchInput {
  border-radius: 25px;
  height: 20px;
  width: 300px;
}

#searchInput:focus {
  outline: none;
}

ul {
  margin-left: 110px;
  list-style-type: none;
}

li {
  padding: 10px;
}
